<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>스마일 러닝 - Intro 4</title>
  <link rel="stylesheet" href="/styles/intro4.css">
</head>
<body>
  <div class="container">
    <div class="text-box">
      <p>AI의 기술을 이용해 아이 수준에 맞는 학습 커리큘럼을 설계할 수 있어요</p>
      <p>지역 디지털 교과서와 협업해, 실제 학교 내용을 보충 설명할 수 있어요</p>
      <br>
      <p>커뮤니티 기능을 통해 같은 문제점을 가지고 있는 친구들과 만남을 가질 수 있어요</p>
      <p>아이의 학습 성취도를 축하해주고, 아이의 학습을 격려해줄 수 있어요</p>
    </div>

    <div class="button-container">
      <button onclick="location.href='/'">다음으로</button>
    </div>
  </div>
</body>
</html>
