<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>스마일 러닝 - Intro</title>
  <link rel="stylesheet" href="/styles/intro1.css">
</head>
<body>
  <div class="container">
    <div class="image-box">
      <img src="/images/intro_image.png" alt="스마일 러닝 소개 이미지">
    </div>
    <h2>‘스마일 러닝’으로 다양한 학습을 쉽고 빠르게!</h2>
    
    <div class="button-container">
      <button onclick="location.href='/intro2'">‘스마일러닝’이 처음이신가요?</button>
      <button onclick="location.href='/enroll/login1'">학습하러 가기</button>
    </div>
  </div>
</body>
</html>
